$mainTextColor: black;
$lightSecondary: rgba(197, 64, 223, 0.37);
$secondaryColor: rgb(197, 64, 223);

$buttonInactive: rgba(197, 64, 223, 0.7);
$bgColor: lightblue;
$contentMaxWidth: 94%;
$navHeight: 3rem;


/* html,
body,
#root{
  height: 100%;
} */

/* mobile browsers beeing annoying again so no min-height */
.fullSizeContainer {
  position: relative;
  /* min-height: 100%; */
  width: 100%;
}

h1,
h3,
p {
  margin: 0;
  padding: 0;
}

.overflowHidden {
  overflow: hidden;
}

.overflowAuto {
  overflow: auto;
}

.margin0Auto {
  margin: 0 auto;
}

.borderBox {
  box-sizing: border-box;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.centerAll {
  display: flex;
  align-items: center;
  justify-content: center;
}

.centerText {
  text-align: center;
}

.textUpper {
  text-transform: uppercase;
}

.undecoratedLink, a {
  color: $mainTextColor;
  text-decoration: none;
}

li {
  list-style: none;
}

.inner {
  max-width: $contentMaxWidth;
  width: 70rem;
  margin: 0 auto;
}

.flex1 {
  flex: 1;
}

.pointer {
  cursor: pointer;
}

footer{
  position: absolute;
  bottom: 0;
  background-color: rgba(209, 209, 209, 0.493);
  width: 100%;
  padding: 0.6rem 0;
  p{
    display: inline-block;
  }
  a{
    margin-left: 1rem;
    font-weight: bold;
  }
}

/* END BASE CLASSES */

/* full page loading fallback for react suspense */
#loadingScreen{
  height: 100%;
  width: 100%;
  font-size: 2rem;
  font-weight: bold;
}

/* end loading fallback */

#debugFullHeight{
  height: 100vh;
  word-wrap: break-word;
}

#nav {
  z-index: 3;
  height: $navHeight;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $secondaryColor;
  font-weight: bold;
  font-size: 1.2rem;
  .inner {
    height: 100%;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  section{
    width: 10rem;
    max-width: 48%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a{
      border-radius: 0.4rem;
      background-color: $secondaryColor;
      padding: 0.1rem 0.4rem;
      color: rgb(19, 19, 19);
      font-size: 1.3rem;

      transition: 0.6s;
      box-shadow: 0.2rem 0.2rem 0.5rem rgb(126, 41, 143), -0.1rem -0.2rem 0.8rem rgba(175, 88, 192, 0.247), 0.1rem 0.2rem 0.2rem rgba(238, 153, 255, 0.459) inset;



    }
  }
  #mainIcon{
    height: 100%;
    
    img{
      height: 90%;
    }
  }
  .navLinkActive{
    font-size: 1.2rem;
    color: $mainTextColor;
    box-shadow: 0.2rem 0.2rem 0.5rem rgba(175, 88, 192, 0.247), -0.1rem -0.2rem 0.8rem rgba(238, 153, 255, 0.459), 0.1rem 0.2rem 0.2rem rgb(126, 41, 143) inset;
  }
  
}

main {
  z-index: 1;
  box-sizing: border-box;
  padding-top: $navHeight;
  position: relative;
  padding-bottom: 4rem;
}

/* #logo{

} */

/* #downloader {
  height: 100%;
  background-color: $bgColor;
} */

/* #test {
  background-color: red;
  height: 100%;
} */

#banner {
  margin-top: 3rem;
  img{
    height: 13rem;
    border-radius: 50%;
    margin-bottom: 1rem;
  }
}

/* SEARCHBAR */

#searchbar {
  margin-top: 2.4rem;
  /* margin-top: 2rem; */
  margin-bottom: 4rem;
  box-sizing: border-box;
  display: block;
  height: 2.4rem;
  overflow: hidden;
  width: 50rem;
  max-width: 100%;
  display: flex;
  border-radius: 0.6rem;
  /* border-top: 1px groove rgb(196, 64, 223);
  border-bottom: 1px groove rgb(196, 64, 223);
  border-left: 1px groove rgb(196, 64, 223); */
  box-shadow: 2px 2px 20px 6px $lightSecondary;

  &:focus-within {
    box-shadow: 2px 2px 20px 6px $secondaryColor;
  }

  input {
    box-sizing: border-box;
    height: 100%;
    border: none;
  }
}

#searchText {
  padding-left: 1rem;
  flex: 1;
}

#searchSubmit {
  border-radius: 0.6rem;
  background-color: $secondaryColor;
  color: white;
  padding: 0 2rem;
  font-weight: bold;
  transition: transform 0.4s;

  /* &:hover {} */
}


/* END SEARCHBAR */

.errorMessage, .loading{
  font-weight: bold;
  font-size: 1.2rem;
}



/* VIDEOVIEW */


#videoView {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  h3 {
    margin: 0.2rem 0 0.6rem 0;
  }
}

#videoCard {
  padding: 0.1rem 0.1rem 0.8rem 0.1rem;
  box-sizing: border-box;
  width: 28rem;
  max-width: 100%;

  img {
    width: 100%;
  }
}

#formatSelect {
  width: 28rem;
  max-width: 100%;

  #tabSelect {
    height: 3rem;
    background-color: blue;
  }

  tr {
    background-color: white;
  }

  table {
    width: 100%;
    background-color: $secondaryColor;
  }

}


#tabSwitch {
  display: flex;
  justify-content: space-between;

  div {
    cursor: pointer;
    width: 33%;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid $secondaryColor;
    border-bottom: none;
    border-radius: 0.4rem 0.4rem 0 0;
    background-color: lightgrey;
    font-weight: bold;
    padding: 0.2rem 0;
  }

  .inactiveTab {
    transform: scale(0.98);
  }

  .activeTab {
    background-color: white;

  }
}

#formatItem {
  overflow: hidden;
  height: 2rem;

  #format,
  #quality {
    padding-left: 0.4rem;
  }

  #download {
    text-align: center;
    border-radius: 1rem;
    /* border: 1px solid blue; */
    background-color: $buttonInactive;
    transition: transform 0.4s;
    font-weight: bold;
    padding: 0.2rem 0;

    &:hover {
      transform: scale(1.02);
      background-color: $secondaryColor;
      box-shadow: 2px 2px 20px 6px $secondaryColor;
    }
  }
}

.hoverShadow:hover{
  transform: scale(1.02) !important;
  background-color: $secondaryColor !important;
  box-shadow: 2px 2px 20px 6px $secondaryColor;
}

.fullPageAbsolute {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

#customNameForm {
  max-width: $contentMaxWidth;
  width: 36rem;
  box-sizing: border-box;
  padding: 1rem 1rem 1rem 1rem;
  background-color: white;
  border: 1px solid $secondaryColor;
  border-radius: 0.6rem;
  input{
    box-sizing: border-box;
    padding: 0 0.6rem;
    border-radius: 0.4rem;
    border: 1px solid $secondaryColor;
    width: 100%;
    margin-bottom: 1rem;
    font-size: 1rem;
  }
  .submit{
    border-radius: 0.4rem;
    padding: 0.4rem;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: $secondaryColor;
    text-transform: uppercase;
  }
  h1{
    padding: 0 0 1rem 0;
  }
  #closeIcon{
    height: 2rem;
    width: 2rem;
    border: 1px solid $secondaryColor;
    border-radius: 1rem;
    margin-left: auto;
    color: white;
    background-color: $lightSecondary;
    transition: 0.4s;
    svg{
      fill: $secondaryColor;
    }
    &:hover{
      transform: scale(1.2);
      background-color: $secondaryColor;
      svg{
        fill: white;
      }
    }
  }
}

#autoMp3Button{
  background-color: greenyellow;
  border: none;
  font-weight: bold;
  margin: 0.2rem auto 0.6rem auto;
  display: block;
  padding: 0.6rem 1rem;
  border-radius: 0.4rem;
}

#confirmModal{
  position: fixed;
  top: 25vh;
  width: 100%;
  
}
.progressContainer{
  width: 100%;
  border-radius: 0.4rem;
}

/* .fancyShadow{
  border-radius: 0.6rem;
  box-shadow: 0.4rem 0.2rem 0.5rem rgba(220,220,220, 1), -0.4rem -0.2rem 0.8rem rgba(255,255,255,1), 1rem 1rem 1rem rgba(255,255,255,0.25) inset;
} */

/* video search styles */
#videoList{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  grid-gap: 0.2rem;
}

#videoListCard{
  /* background-color: $secondaryColor; */
  margin: 0 auto;
  max-width: 40rem;
  background-color: rgb(231, 231, 231);
  height: 100%;
  box-sizing: border-box;
  padding: 0.2rem;
  transition: 0.5s;
  &:hover{
    transform: scale(1.05);
  }
  
  img{
    width: 100%;
  }
}

#videoSearchNav{
  padding: 0 2rem;
}

#pageNavContainer{
  margin: 1.4rem auto;
  display: flex;
  justify-content: center;
}

/* video search styles end */

@media only screen and (max-width: 1000px) {
  /* #searchbar {
    width: 36rem;
  } */

  #videoView {
    margin: 0 auto;
    width: 52rem;

    #videoCard,
    #formatSelect {
      margin: 0 auto;
      width: 25rem;
    }
  }
}

@media only screen and (max-width: 960px) {
  #downloader {
    margin-bottom: 4rem;
  }

  #searchbar {
    width: 36rem;
    display: block;
    height: unset;
    box-shadow: none;
    overflow: unset;

    &:focus-within {
      box-shadow: unset;
    }

    #searchText {
      border-radius: 0.6rem;
      box-shadow: 2px 2px 20px 6px $lightSecondary;
      width: 100%;
      height: 2.4rem;
      margin-bottom: 0.8rem;

      &:focus {
        outline: none;
        box-shadow: 2px 2px 20px 6px $secondaryColor;
      }
    }

    #searchSubmit {
      display: block;
      margin: 0 auto;
      height: 2.4rem;
      padding-left: 4rem;
      padding-right: 4rem;
    }
  }

  #videoView {
    display: block;
    width: 100%;

    #videoCard,
    #formatSelect {
      margin: 0 auto;
      width: 36rem;
    }
  }

  #formatSelect {
    margin-top: 2rem !important;
  }
}


#loadingScreen{
  min-width: 16rem;
  min-height: 60vh;
  height: 100%;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  color: rgb(15, 15, 15);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.spinner {
  width: 5rem;
  height: 5rem;
  position: relative;
  text-align: center;
  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
  margin-bottom: 2rem;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: rgb(15, 15, 15);
  border-radius: 100%;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}