html, body, #root, .fullSizeContainer {
  height: 100%;
  width: 100%;
}

h1, h3, p {
  margin: 0;
  padding: 0;
}

.overflowHidden {
  overflow: hidden;
}

.overflowAuto {
  overflow: auto;
}

.margin0Auto {
  margin: 0 auto;
}

.borderBox {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.flexColumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.centerAll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.centerText {
  text-align: center;
}

.textUpper {
  text-transform: uppercase;
}

.undecoratedLink {
  color: black;
  text-decoration: none;
}

li {
  list-style: none;
}

.inner {
  max-width: 70rem;
  margin: 0 auto;
}

.flex1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.pointer {
  cursor: pointer;
}

/* END BASE CLASSES */
#nav {
  height: 3rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #c440df;
}

main {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 3rem;
  height: 100%;
}

#downloader {
  height: 100%;
  /* background-color: $bgColor; */
}

#test {
  background-color: red;
  height: 100%;
}

/* SEARCHBAR */
#searchbar {
  margin-top: 4rem;
  margin-bottom: 4rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  height: 2.4rem;
  overflow: hidden;
  width: 36rem;
  max-width: 94%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 0.6rem;
  border-top: 1px groove #c440df;
  border-bottom: 1px groove #c440df;
  border-left: 1px groove #c440df;
}

#searchbar:focus-within {
  -webkit-box-shadow: 2px 2px 20px 6px #c440df;
          box-shadow: 2px 2px 20px 6px #c440df;
}

#searchbar input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  border: none;
}

#searchText {
  padding-left: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#searchSubmit {
  border-radius: 0.6rem;
  background-color: #c440df;
  color: white;
  padding: 0 2rem;
  font-weight: bold;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

/* END SEARCHBAR */
/* VIDEOVIEW */
#videoView {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#videoView h3 {
  margin: 0.2rem 0 0.6rem 0;
}

#videoCard {
  padding: 0.1rem 0.1rem 0.8rem 0.1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 28rem;
  min-width: 24rem;
}

#videoCard img {
  width: 100%;
}

#formatSelect {
  min-width: 28rem;
  background-color: #c440df;
}

#formatSelect #tabSelect {
  height: 3rem;
  background-color: blue;
}

#formatSelect tr {
  background-color: white;
}

#formatItem {
  overflow: hidden;
  height: 2rem;
}

#formatItem #format, #formatItem #quality {
  padding-left: 0.4rem;
}

#formatItem #download {
  text-align: center;
  border-radius: 0.6rem;
  border: 1px solid blue;
  background-color: lightgreen;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

#formatItem #download:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-box-shadow: 2px 2px 20px 6px #c440df;
          box-shadow: 2px 2px 20px 6px #c440df;
}
/*# sourceMappingURL=App.css.map */