$mainTextColor: black;

$secondaryColor: rgb(196, 64, 223);
$bgColor: lightblue;
$contentMaxWidth: 94%;

html, body, #root, .fullSizeContainer{
  height: 100%;
  width: 100%;
}

h1, h3, p{
  margin: 0;
  padding: 0;
}

.overflowHidden{
  overflow: hidden;
}

.overflowAuto{
  overflow: auto;
}

.margin0Auto{
  margin: 0 auto;
}

.borderBox{
  box-sizing: border-box;
}

.flexColumn{
  display: flex;
  flex-direction: column;
}

.centerAll{
  display: flex;
  align-items: center;
  justify-content: center;
}

.centerText{
  text-align: center;
}

.textUpper{
  text-transform: uppercase;
}

.undecoratedLink{
  color: $mainTextColor;
  text-decoration: none;
}

li{
  list-style: none;
}

.inner{
  max-width: 70rem;
  margin: 0 auto;
}

.flex1{
  flex: 1;
}

.pointer{
  cursor: pointer;
}


/* END BASE CLASSES */

#nav{
  height: 3rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $secondaryColor;
}

main{
  box-sizing: border-box;
  padding-top: 3rem;
  height: 100%;
  position: relative;
}



#downloader{
  height: 100%;
  /* background-color: $bgColor; */
}

#test{
  background-color: red;
  height: 100%;
}

/* SEARCHBAR */

#searchbar{
  margin-top: 4rem;
  margin-bottom: 4rem;
  box-sizing: border-box;
  display: block;
  height: 2.4rem;
  overflow: hidden;
  width: 36rem;
  max-width: $contentMaxWidth;
  display: flex;
  border-radius: 0.6rem;
  border-top: 1px groove rgb(196, 64, 223);
  border-bottom: 1px groove rgb(196, 64, 223);
  border-left: 1px groove rgb(196, 64, 223);

  &:focus-within{
    box-shadow: 2px 2px 20px 6px rgb(196, 64, 223);
  }
  input{
    box-sizing: border-box;
    height: 100%;
    border: none;
  }
}

#searchText{
  padding-left: 1rem;
  flex: 1;
}
#searchSubmit{
  border-radius: 0.6rem;
  background-color: rgb(196, 64, 223);
  color: white;
  padding: 0 2rem;
  font-weight: bold;
  transition: transform 0.4s;
  &:hover{
  }
}


/* END SEARCHBAR */


/* VIDEOVIEW */


#videoView{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  h3{
    margin: 0.2rem 0 0.6rem 0;
  }  
}

#videoCard{
  padding: 0.1rem 0.1rem 0.8rem 0.1rem;
  box-sizing: border-box;
  max-width: 28rem;
  min-width: 24rem;
  img{
    width: 100%;
  }
}

#formatSelect{
  min-width: 28rem;
  #tabSelect{
    height: 3rem;
    background-color: blue;
  }
  tr{
    background-color: white;
  }
  table{
    width: 100%;
    background-color: rgb(196, 64, 223);
  }

}


#tabSwitch{
  display: flex;
  justify-content: space-between;
  div{
    cursor: pointer;
    width: 33%;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid $secondaryColor;
    border-bottom: none;
    border-radius: 0.4rem 0.4rem 0 0;
    background-color: lightgrey;
    font-weight: bold;
    padding: 0.2rem 0;
  }
  .inactiveTab{
    transform: scale(0.98);
  }
  .activeTab{
    background-color: white;

  }
}

#formatItem{
  overflow: hidden;
  height: 2rem;

  #format, #quality{
    padding-left: 0.4rem;
  }
  
  #download{
    text-align: center;
    border-radius: 0.6rem;
    border: 1px solid blue;
    background-color: lightgreen;
    transition: transform 0.4s;
    &:hover{
      transform: scale(1.02);
      box-shadow: 2px 2px 20px 6px rgb(196, 64, 223);
    }
  }
}

#confirmContainer{
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}