/* html,
body,
#root{
  height: 100%;
} */
/* mobile browsers beeing annoying again so no min-height */
.fullSizeContainer {
  position: relative;
  /* min-height: 100%; */
  width: 100%;
}

h1,
h3,
p {
  margin: 0;
  padding: 0;
}

.overflowHidden {
  overflow: hidden;
}

.overflowAuto {
  overflow: auto;
}

.margin0Auto {
  margin: 0 auto;
}

.borderBox {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.flexColumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.centerAll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.centerText {
  text-align: center;
}

.textUpper {
  text-transform: uppercase;
}

.undecoratedLink, a {
  color: black;
  text-decoration: none;
}

li {
  list-style: none;
}

.inner {
  max-width: 94%;
  width: 70rem;
  margin: 0 auto;
}

.flex1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.pointer {
  cursor: pointer;
}

footer {
  position: absolute;
  bottom: 0;
  background-color: rgba(209, 209, 209, 0.493);
  width: 100%;
  padding: 0.6rem 0;
}

footer p {
  display: inline-block;
}

footer a {
  margin-left: 1rem;
  font-weight: bold;
}

/* END BASE CLASSES */
/* full page loading fallback for react suspense */
#loadingScreen {
  height: 100%;
  width: 100%;
  font-size: 2rem;
  font-weight: bold;
}

/* end loading fallback */
#debugFullHeight {
  height: 100vh;
  word-wrap: break-word;
}

#nav {
  z-index: 3;
  height: 3rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #c540df;
  font-weight: bold;
  font-size: 1.2rem;
}

#nav .inner {
  height: 100%;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#nav section a {
  margin-left: 4rem;
}

#nav #mainIcon {
  height: 100%;
}

#nav #mainIcon img {
  height: 90%;
}

main {
  z-index: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 3rem;
  position: relative;
  padding-bottom: 4rem;
}

/* #logo{

} */
/* #downloader {
  height: 100%;
  background-color: $bgColor;
} */
/* #test {
  background-color: red;
  height: 100%;
} */
#banner {
  margin-top: 3rem;
}

#banner img {
  height: 13rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}

/* SEARCHBAR */
#searchbar {
  margin-top: 2.4rem;
  /* margin-top: 2rem; */
  margin-bottom: 4rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  height: 2.4rem;
  overflow: hidden;
  width: 50rem;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 0.6rem;
  /* border-top: 1px groove rgb(196, 64, 223);
  border-bottom: 1px groove rgb(196, 64, 223);
  border-left: 1px groove rgb(196, 64, 223); */
  -webkit-box-shadow: 2px 2px 20px 6px rgba(197, 64, 223, 0.37);
          box-shadow: 2px 2px 20px 6px rgba(197, 64, 223, 0.37);
}

#searchbar:focus-within {
  -webkit-box-shadow: 2px 2px 20px 6px #c540df;
          box-shadow: 2px 2px 20px 6px #c540df;
}

#searchbar input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  border: none;
}

#searchText {
  padding-left: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#searchSubmit {
  border-radius: 0.6rem;
  background-color: #c540df;
  color: white;
  padding: 0 2rem;
  font-weight: bold;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
  /* &:hover {} */
}

/* END SEARCHBAR */
.errorMessage, .loading {
  font-weight: bold;
  font-size: 1.2rem;
}

/* VIDEOVIEW */
#videoView {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#videoView h3 {
  margin: 0.2rem 0 0.6rem 0;
}

#videoCard {
  padding: 0.1rem 0.1rem 0.8rem 0.1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 28rem;
  max-width: 100%;
}

#videoCard img {
  width: 100%;
}

#formatSelect {
  width: 28rem;
  max-width: 100%;
}

#formatSelect #tabSelect {
  height: 3rem;
  background-color: blue;
}

#formatSelect tr {
  background-color: white;
}

#formatSelect table {
  width: 100%;
  background-color: #c540df;
}

#tabSwitch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#tabSwitch div {
  cursor: pointer;
  width: 33%;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #c540df;
  border-bottom: none;
  border-radius: 0.4rem 0.4rem 0 0;
  background-color: lightgrey;
  font-weight: bold;
  padding: 0.2rem 0;
}

#tabSwitch .inactiveTab {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

#tabSwitch .activeTab {
  background-color: white;
}

#formatItem {
  overflow: hidden;
  height: 2rem;
}

#formatItem #format,
#formatItem #quality {
  padding-left: 0.4rem;
}

#formatItem #download {
  text-align: center;
  border-radius: 1rem;
  /* border: 1px solid blue; */
  background-color: rgba(197, 64, 223, 0.7);
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
  font-weight: bold;
  padding: 0.2rem 0;
}

#formatItem #download:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  background-color: #c540df;
  -webkit-box-shadow: 2px 2px 20px 6px #c540df;
          box-shadow: 2px 2px 20px 6px #c540df;
}

.hoverShadow:hover {
  -webkit-transform: scale(1.02) !important;
          transform: scale(1.02) !important;
  background-color: #c540df !important;
  -webkit-box-shadow: 2px 2px 20px 6px #c540df;
          box-shadow: 2px 2px 20px 6px #c540df;
}

.fullPageAbsolute {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

#customNameForm {
  max-width: 94%;
  width: 36rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1rem 1rem 1rem 1rem;
  background-color: white;
  border: 1px solid #c540df;
  border-radius: 0.6rem;
}

#customNameForm input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 0.6rem;
  border-radius: 0.4rem;
  border: 1px solid #c540df;
  width: 100%;
  margin-bottom: 1rem;
  font-size: 1rem;
}

#customNameForm .submit {
  border-radius: 0.4rem;
  padding: 0.4rem;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #c540df;
  text-transform: uppercase;
}

#customNameForm h1 {
  padding: 0 0 1rem 0;
}

#customNameForm #closeIcon {
  height: 2rem;
  width: 2rem;
  border: 1px solid #c540df;
  border-radius: 1rem;
  margin-left: auto;
  color: white;
  background-color: rgba(197, 64, 223, 0.37);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#customNameForm #closeIcon svg {
  fill: #c540df;
}

#customNameForm #closeIcon:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  background-color: #c540df;
}

#customNameForm #closeIcon:hover svg {
  fill: white;
}

#autoMp3Button {
  background-color: greenyellow;
  border: none;
  font-weight: bold;
  margin: 0.2rem auto 0.6rem auto;
  display: block;
  padding: 0.6rem 1rem;
  border-radius: 0.4rem;
}

#confirmModal {
  position: fixed;
  top: 25vh;
  width: 100%;
}

.progressContainer {
  width: 100%;
  border-radius: 0.4rem;
}

/* .fancyShadow{
  border-radius: 0.6rem;
  box-shadow: 0.4rem 0.2rem 0.5rem rgba(220,220,220, 1), -0.4rem -0.2rem 0.8rem rgba(255,255,255,1), 1rem 1rem 1rem rgba(255,255,255,0.25) inset;
} */
/* video search styles */
#videoList {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(16rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  grid-gap: 0.2rem;
}

#videoListCard {
  /* background-color: $secondaryColor; */
  margin: 0 auto;
  max-width: 40rem;
  background-color: #e7e7e7;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0.2rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#videoListCard:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#videoListCard img {
  width: 100%;
}

#videoSearchNav {
  padding: 0 2rem;
}

#pageNavContainer {
  margin: 1.4rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* video search styles end */
@media only screen and (max-width: 1000px) {
  /* #searchbar {
    width: 36rem;
  } */
  #videoView {
    margin: 0 auto;
    width: 52rem;
  }
  #videoView #videoCard,
  #videoView #formatSelect {
    margin: 0 auto;
    width: 25rem;
  }
}

@media only screen and (max-width: 960px) {
  #downloader {
    margin-bottom: 4rem;
  }
  #searchbar {
    width: 36rem;
    display: block;
    height: unset;
    -webkit-box-shadow: none;
            box-shadow: none;
    overflow: unset;
  }
  #searchbar:focus-within {
    -webkit-box-shadow: unset;
            box-shadow: unset;
  }
  #searchbar #searchText {
    border-radius: 0.6rem;
    -webkit-box-shadow: 2px 2px 20px 6px rgba(197, 64, 223, 0.37);
            box-shadow: 2px 2px 20px 6px rgba(197, 64, 223, 0.37);
    width: 100%;
    height: 2.4rem;
    margin-bottom: 0.8rem;
  }
  #searchbar #searchText:focus {
    outline: none;
    -webkit-box-shadow: 2px 2px 20px 6px #c540df;
            box-shadow: 2px 2px 20px 6px #c540df;
  }
  #searchbar #searchSubmit {
    display: block;
    margin: 0 auto;
    height: 2.4rem;
    padding-left: 4rem;
    padding-right: 4rem;
  }
  #videoView {
    display: block;
    width: 100%;
  }
  #videoView #videoCard,
  #videoView #formatSelect {
    margin: 0 auto;
    width: 36rem;
  }
  #formatSelect {
    margin-top: 2rem !important;
  }
}
/*# sourceMappingURL=App.css.map */